.main-body {
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    overflow-x: auto;
}

.add-drive {
    margin: 20px 20px 0 0;
    display: flex;
    justify-content: flex-end;
}

.table-container {
    margin-top: 20px;
}

tr.mat-mdc-row:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.paginator {
    margin-top: 30px;
}
